n8n-workflow.json
{
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "grievance",
        "options": {}
      },
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        100,
        300
      ],
      "webhookId": "grievance-webhook"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "id",
              "value": "={{ 'GRV-' + new Date().getFullYear() + '-' + Math.random().toString(36).substr(2, 4).toUpperCase() }}"
            },
            {
              "name": "timestamp",
              "value": "={{ new Date().toISOString() }}"
            }
          ]
        },
        "options": {}
      },
      "name": "Generate ID & Timestamp",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [
        300,
        300
      ]
    },
    {
      "parameters": {
        "operation": "append",
        "sheetId": "YOUR_GOOGLE_SHEET_ID",
        "range": "A:H",
        "options": {}
      },
      "name": "Google Sheets",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 1,
      "position": [
        500,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "no-reply@grievancegpt.edu",
        "toEmail": "={{ $node[\"Webhook\"].json[\"authorityEmail\"] }}",
        "subject": "=Complaint - {{ $node[\"Webhook\"].json[\"category\"] }}",
        "text": "={{ $node[\"Webhook\"].json[\"letter\"] }}",
        "options": {}
      },
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        700,
        300
      ]
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{ $node[\"Webhook\"].json[\"priority\"] }}",
              "value2": "Critical"
            }
          ]
        }
      },
      "name": "Is Critical?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        900,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "escalations@grievancegpt.edu",
        "toEmail": "principal@university.edu",
        "subject": "=CRITICAL ESCALATION: {{ $node[\"Webhook\"].json[\"category\"] }}",
        "text": "=A critical grievance has been filed: \n\n{{ $node[\"Webhook\"].json[\"letter\"] }}",
        "options": {}
      },
      "name": "Escalation Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        1100,
        200
      ]
    },
    {
      "parameters": {
        "options": {
          "responseCode": 200
        },
        "responseBody": "={\n  \"status\": \"success\",\n  \"id\": \"{{ $node[\"Generate ID & Timestamp\"].json[\"id\"] }}\"\n}"
      },
      "name": "Webhook Response",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        1300,
        300
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "Generate ID & Timestamp",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Generate ID & Timestamp": {
      "main": [
        [
          {
            "node": "Google Sheets",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Email": {
      "main": [
        [
          {
            "node": "Is Critical?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Is Critical?": {
      "main": [
        [
          {
            "node": "Escalation Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Escalation Email": {
      "main": [
        [
          {
            "node": "Webhook Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}
